<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>286465176242-0olo1lik9raplbr9otc5d7vki86dm3lu.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.286465176242-0olo1lik9raplbr9otc5d7vki86dm3lu</string>
	<key>API_KEY</key>
	<string>AIzaSyA24_ZoiVZxBCmw9o4A09zT6xyLcC9sv_M</string>
	<key>GCM_SENDER_ID</key>
	<string>286465176242</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.bach</string>
	<key>PROJECT_ID</key>
	<string>bachdev-ee9e3</string>
	<key>STORAGE_BUCKET</key>
	<string>bachdev-ee9e3.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:286465176242:ios:55cbf50da733b2f05d4fab</string>
</dict>
</plist>